<div class="listWrap">
	<div class="search-box">
		<div class="input-field">
			<i class="material-icons prefix">search</i>
			<input type="text" placeholder="스터디 검색" [(ngModel)]="searchText">
		</div>
		<button class="btn-flat" (click)="studySearch()">검색</button>
	</div>
	<div class="study-list">
		<div *ngFor="let study of studyList" class="card horizontal">
			<div class="card-image">
				<i class="material-icons">check_circle</i>
			</div>
			<div class="card-stacked">
				<div class="card-content study-info">
					<p>스터디 명</p>
					<h5>{{study.studyname}}</h5>
					<div class="next-info">
						<p class="next-header">다음 모임일정</p>
						<span class="next-place">강남 스터디 윙</span><span class="next-time">7:30 PM</span>
					</div>
				</div>
				<div class="card-action">
					<a class="go-study" (click)="move_study(study.idx)">바로가기</a>
				</div>
			</div>
		</div>
	</div>
</div>
