<div class="container">
	<ul class="schedule-new">
		<li>
			<i class="material-icons">insert_invitation</i>
			<div class="input-field">
				<label for="">DATE</label>
				<input type="date" class="datepicker">
			</div>
		</li>
		<li>
			<i class="material-icons">access_time</i>
			<div class="input-field">
				<label for="timepicker">Time</label>
				<input id="timepicker" data-default="14:20:00" class="timepicker" type="time">
			</div>
		</li>
		<li>
			<i class="material-icons">account_balance_wallet</i>
		</li>
		<li>
			<i class="material-icons">location_on</i>
		</li>
		<li></li>
	</ul>
</div>