<div class="container-fluid mainWrapper">
    <div class="main">
        <div class="left">
            <div class="form-group">
                <label for="">장소명</label>
                <input type="text" name="place" class="form-control">
            </div>
            <div class="form-group date">
                <label for="">날짜</label>
                <input type="text" readonly name="date" class="form-control">
            </div>
            <div class="form-group time">
                <label for="">시간</label>
                <input type="text" class="form-control">
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">비용</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="right">
            
        </div>
    </div>
</div>