<div id="studyLoader" [ngClass]="{'hide':pageState}"></div>
<div class="container" [ngClass]="{'pagehide':!pageState}" [@fadeInAnimation]="pageState">
	<div class="lastest-scd card-panel">
		<h6>
			다음 모임 일정
			<a routerLink="/study/scheduleUpdate/{{lastSch.idx}}">
				<i class="material-icons title-edit">edit</i>
			</a>
			<a routerLink="/study/scheduleNew" class="add-icon"></a>
		</h6>
		<div class="scd-info">
			<div class="row">
				<div class="col s6 left">
					<ul class="info-list">
						<li class="row">
							<div class="col s4 label">
								<i class="material-icons">insert_invitation</i>
								<span>DATE</span>
							</div>
							<div class="col s8 data">
								{{lastSch.gathering|date:"yyyy-MM-dd"}}
							</div>
						</li>
						<li class="row">
							<div class="col s4 label">
								<i class="material-icons">access_time</i>
								<span>TIME</span>
							</div>
							<div class="col s8 data">
								{{lastSch.start}} ~ {{lastSch.end}}
							</div>
						</li>
						<li class="row">
							<div class="col s4 label">
								<i class="material-icons">account_balance_wallet</i>
								<span>COST</span>
							</div>
							<div class="col s8 data">
								{{lastSch.cost}} 원
							</div>
						</li>
					</ul>
				</div>
				<div class="col s6 right">
					<ul>
						<li class="map-title">
							<i class="material-icons">location_on</i>
							<span class="label">PLACE</span>
							<span class="data">{{lastPlc.name}}</span>
						</li>
						<li id="map" class="StudySchedule"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="openerBox text-center">
		<span (click)="tableOpener()" *ngIf="tableState == 'close'">
			이전 스케쥴 보기<br><i class="material-icons">keyboard_arrow_down</i>
		</span>
		<span (click)="tableOpener()" *ngIf="tableState == 'open'">
			<i class="material-icons">keyboard_arrow_up</i><br>게시판 닫기
		</span>
	</div>
	<div class="listWrapper" [@tableToggle]="tableState">
		<table class="bordered">
			<thead>
				<tr>
					<th>DATE</th>
					<th>PLACE</th>
					<th>COST</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let sch of schList">
					<td class="text-center date">{{sch.gathering|date:"yyyy-MM-dd"}}</td>
					<td><span class="cursor-p" (click)="setSchedule(sch.idx)">{{sch.place_name}}</span></td>
					<td class="text-center">{{sch.cost}} 원</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>