.container{
	width: 800px;
}
.paging-wrap{
	text-align: center;
	margin-top: 20px;
}
.pagination{
	display: inline-block;
}
.pagination li{
	cursor: pointer;
}

/* table */
table{
	width: 800px;
	margin: 0 auto;
	font-size: 12px;
}
thead{
	background-color: #CCCCCC;
	color: #FFF;
}
thead tr th{
	text-align: center;
}
tbody{
	color: #666666;
}
tbody .date{
	width: 15%;
}

/* btnBox */
.btnBox{
	text-align: right;
}
.btnBox a{
	border: 1px solid #AB47BC;
	border-radius: 5px;
	background-color: #FFFFFF;
	color: #AB47BC;
	font-size: 14px;
	text-align: center;
	margin-top: 5px;
	width: 100px;
	padding: 0px;
}