<div class="container">
	<table class="bordered">
		<thead>
			<tr>
				<th>DATE</th>
				<th>TITLE</th>
				<th>작성자</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center date">2017-06-22</td>
				<td>자유게시판에 글을 적어보자</td>
				<td class="text-center">홍길동</td>
			</tr>
			<tr>
				<td class="text-center date">2017-06-22</td>
				<td>자유게시판에 글을 적어보자</td>
				<td class="text-center">홍길동</td>
			</tr>
			<tr>
				<td class="text-center date">2017-06-22</td>
				<td>자유게시판에 글을 적어보자</td>
				<td class="text-center">홍길동</td>
			</tr>
		</tbody>
	</table>

	<div class="paging-wrap">
		<ul class="pagination">
			<li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
			<li class="active"><a>1</a></li>
			<li class="waves-effect"><a>2</a></li>
			<li class="waves-effect"><a>3</a></li>
			<li class="waves-effect"><a>4</a></li>
			<li class="waves-effect"><a>5</a></li>
			<li class="waves-effect"><a><i class="material-icons">chevron_right</i></a></li>
		</ul>
	</div>
</div>