.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}
.nav-list .divider{
    height: 2px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #FFF;
}
.nav-header{
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-transform: uppercase;
}
label{
    cursor: pointer;
}
.tree-list{
    background-color: rgb(0, 0, 0);
    padding: 8px 0;
    border-radius: 0px;
    width:250px;
    float:left;
}
.nav-list a{
    border: 1px solid black;
    color: #FFF;
}
.nav-list a:hover{
    background-color: black;
    border: 1px solid #FFF;
}
.main-view{
    float:left
}
