<div class="container-fluid">
    <h1>{{title}}</h1>
    <div class="row">
        <div class="well">
            <div>
                <ul class="nav nav-list">
                    <li><label class="tree-toggler nav-header">My Pages</label>
                        <ul class="nav nav-list tree">
                            <li><a routerLink="#">개인정보</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><label class="tree-toggler nav-header">Text Share</label>
                        <ul class="nav nav-list tree">
                            <li><a routerLink="#">Blog 관리</a></li>
                            <li><a routerLink="#">Text 관리</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><label class="tree-toggler nav-header">Study</label>
                        <ul class="nav nav-list tree">
                            <li><a routerLink="#">관리중인 스터디</a></li>
                            <li><a routerLink="#">가입한 스터디</a></li>
                            <li><a routerLink="#">스터디 검색</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
