.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}
.nav-list .divider{
    height: 2px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #FFF;
}
.nav-header{
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-transform: uppercase;
}
label{
    cursor: pointer;
}
.tree-list{
    background-color: rgb(0, 0, 0);
    padding: 8px 0;
    border-radius: 0px;
    width: 16%;
    min-width:192px;
    float:left;
    overflow: auto;
    overflow-x: hidden;
}
.nav-list a{
    border-bottom: 1px solid black;
    color: #FFF;
}
.nav-list a:hover{
    background-color: black;
    border-bottom: 1px solid rgb(255, 0, 0);
}
.nav-list a:focus{
    background-color: rgb(62, 62, 62);
}
.main-view{
    float:left;
    height: 100%;
    width: 84%;
    min-width: 1008px;
    overflow: auto;
}
.container-fluid, .row, .tree-list{
    height: 100%;
}
.container-fluid{
    width: 100%;
    min-width: 1200px;
}
.userLabel{
    text-align: center;
    color: #FFF;
    margin-bottom: 50px;
}
