		html, body{
			height: 100%;
			/* min-width: 1200px; */
		}
		#sidenav-overlay{
			background: none;
		}
		.drag-target{
			display: none;
		}

		/*.text-output .converter ul li,
		.help-box .code ul li{
			list-style: disc outside none !important;
			padding: 5px 0px 10px 0px;
		}
		.text-output .converter ol li,
		.help-box .code ol li{
			list-style: decimal outside none !important;
			padding: 5px 0px 10px 0px;
		}
		.text-output .converter p,
		.help-box .code p{
			line-height: 1.5em;
			padding-left: 10px;
			margin-bottom: 5px;
		}
		.text-output .converter li,
		.help-box .code li{
			margin-left: 20px;
		}
		.text-output .converter pre,
		.help-con-wrap pre{
			padding: 10px;
			background-color: #EEEEEE;
			border-radius: 3px;
			font-weight: 600;
		}*/



 /*end reset*/
.show-area ul:not(.browser-default){
	padding-left: 15px;
}
.show-area ul:not(.browser-default) li{
	list-style-type: disc;
}

 /*material clear*/
.show-area body {
   font-family: Helvetica, arial, sans-serif;
   font-size: 14px;
   line-height: 1.6;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: white;
   padding: 30px; }

.show-area body > *:first-child {
   margin-top: 0 !important; }
.show-area body > *:last-child {
   margin-bottom: 0 !important; }

.show-area a {
   color: #4183C4; }
.show-area a.absent {
   color: #cc0000; }
.show-area a.anchor {
   display: block;
   padding-left: 30px;
   margin-left: -30px;
   cursor: pointer;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0; }

.show-area h1, .show-area h2, .show-area h3, .show-area h4, .show-area h5, .show-area h6 {
   margin: 20px 0 10px;
   padding: 0;
   font-weight: bold;
   -webkit-font-smoothing: antialiased;
   cursor: text;
   position: relative; }

.show-area h1:hover a.anchor, .show-area h2:hover a.anchor, .show-area h3:hover a.anchor, .show-area h4:hover a.anchor, .show-area h5:hover a.anchor, .show-area h6:hover a.anchor {
   text-decoration: none; }

.show-area h1 tt, .show-area h1 code {
   font-size: inherit; }

.show-area h2 tt, .show-area h2 code {
   font-size: inherit; }

.show-area h3 tt, .show-area h3 code {
   font-size: inherit; }

.show-area h4 tt, .show-area h4 code {
   font-size: inherit; }

.show-area h5 tt, .show-area h5 code {
   font-size: inherit; }

.show-area h6 tt, .show-area h6 code {
   font-size: inherit; }

.show-area h1 {
   font-size: 28px;
   color: black; }

.show-area h2 {
   font-size: 24px;
   border-bottom: 1px solid #cccccc;
   color: black; }

.show-area h3 {
   font-size: 18px; }

.show-area h4 {
   font-size: 16px; }

.show-area h5 {
   font-size: 14px; }

.show-area h6 {
   color: #777777;
   font-size: 14px; }

.show-area p, .show-area blockquote, .show-area ul, .show-area ol, .show-area dl, .show-area li, .show-area table, .show-area pre {
   margin: 15px 0; 
	 line-height: 1.5em;
	 }
.show-area p{
}

.show-area hr {
   border: 0 none;
   color: #cccccc;
   height: 4px;
   padding: 0;
}

.show-area body > h2:first-child {
   margin-top: 0;
   padding-top: 0; }
.show-area body > h1:first-child {
   margin-top: 0;
   padding-top: 0; }
.show-area body > h1:first-child + h2 {
   margin-top: 0;
   padding-top: 0; }
.show-area body > h3:first-child, .show-area body > h4:first-child, .show-area body > h5:first-child, .show-area body > h6:first-child {
   margin-top: 0;
   padding-top: 0; }

.show-area a:first-child h1, .show-area a:first-child h2, .show-area a:first-child h3, .show-area a:first-child h4, .show-area a:first-child h5, .show-area a:first-child h6 {
   margin-top: 0;
   padding-top: 0; }

.show-area h1 p, .show-area h2 p, .show-area h3 p, .show-area h4 p, .show-area h5 p, .show-area h6 p {
   margin-top: 0; }

.show-area li p.first {
   display: inline-block; }
.show-area li {
   margin: 0; }
.show-area ul, .show-area ol {
   padding-left: 30px; }

.show-area ul :first-child, .show-area ol :first-child {
   margin-top: 0; }

.show-area dl {
   padding: 0; }
.show-area dl dt {
   font-size: 14px;
   font-weight: bold;
   font-style: italic;
   padding: 0;
   margin: 15px 0 5px; }
.show-area dl dt:first-child {
   padding: 0; }
.show-area dl dt > :first-child {
   margin-top: 0; }
.show-area dl dt > :last-child {
   margin-bottom: 0; }
.show-area dl dd {
   margin: 0 0 15px;
   padding: 0 15px; }
.show-area dl dd > :first-child {
   margin-top: 0; }
.show-area dl dd > :last-child {
   margin-bottom: 0; }

.show-area blockquote {
   border-left: 4px solid #dddddd;
   padding: 0 15px;
   color: #777777; }
.show-area blockquote > :first-child {
   margin-top: 0; }
.show-area blockquote > :last-child {
   margin-bottom: 0; }

.show-area table {
   padding: 0;border-collapse: collapse; }
.show-area table tr {
   border-top: 1px solid #cccccc;
   background-color: white;
   margin: 0;
   padding: 0; }
.show-area table tr:nth-child(2n) {
   background-color: #f8f8f8; }
.show-area table tr th {
   font-weight: bold;
   border: 1px solid #cccccc;
   margin: 0;
   padding: 6px 13px; }
.show-area table tr td {
   border: 1px solid #cccccc;
   margin: 0;
   padding: 6px 13px; }
.show-area table tr th :first-child, .show-area table tr td :first-child {
   margin-top: 0; }
.show-area table tr th :last-child, .show-area table tr td :last-child {
   margin-bottom: 0; }

.show-area img {
   max-width: 100%; }

.show-area span.frame {
   display: block;
   overflow: hidden; }
.show-area span.frame > span {
   border: 1px solid #dddddd;
   display: block;
   float: left;
   overflow: hidden;
   margin: 13px 0 0;
   padding: 7px;
   width: auto; }
.show-area span.frame span img {
   display: block;
   float: left; }
.show-area span.frame span span {
   clear: both;
   color: #333333;
   display: block;
   padding: 5px 0 0; }
.show-area span.align-center {
   display: block;
   overflow: hidden;
   clear: both; }
.show-area span.align-center > span {
   display: block;
   overflow: hidden;
   margin: 13px auto 0;
   text-align: center; }
.show-area span.align-center span img {
   margin: 0 auto;
   text-align: center; }
.show-area span.align-right {
   display: block;
   overflow: hidden;
   clear: both; }
.show-area span.align-right > span {
   display: block;
   overflow: hidden;
   margin: 13px 0 0;
   text-align: right; }
.show-area span.align-right span img {
   margin: 0;
   text-align: right; }
.show-area span.float-left {
   display: block;
   margin-right: 13px;
   overflow: hidden;
   float: left; }
.show-area span.float-left span {
   margin: 13px 0 0; }
.show-area span.float-right {
   display: block;
   margin-left: 13px;
   overflow: hidden;
   float: right; }
.show-area span.float-right > span {
   display: block;
   overflow: hidden;
   margin: 13px auto 0;
   text-align: right; }

.show-area code, .show-area tt {
   margin: 0 2px;
   padding: 0 5px;
   white-space: nowrap;
   border: 1px solid #eaeaea;
   background-color: #f8f8f8;
   border-radius: 3px; }

.show-area pre code {
   margin: 0;
   padding: 0;
   white-space: pre;
   border: none;
   background: transparent; }

.show-area .highlight pre {
   background-color: #f8f8f8;
   border: 1px solid #cccccc;
   font-size: 13px;
   line-height: 19px;
   overflow: auto;
   padding: 6px 10px;
   border-radius: 3px; }

.show-area pre {
   background-color: #f8f8f8;
   border: 1px solid #cccccc;
   font-size: 13px;
   line-height: 19px;
   overflow: auto;
   padding: 6px 10px;
   border-radius: 3px; }
.show-area pre code, .show-area pre tt {
   background-color: transparent;
   border: none; }

.show-area sup {
   font-size: 0.83em;
   vertical-align: super;
   line-height: 0;
}
.show-area * {
	 -webkit-print-color-adjust: exact;
}







		input[type=text]:focus, 
		input[type=password]:focus,
		input[type=email]:focus,
		input[type=url]:focus,
		input[type=time]:focus,
		input[type=date]:focus,
		input[type=datetime]:focus,
		input[type=datetime-local]:focus,
		input[type=tel]:focus,
		input[type=number]:focus,
		input[type=search]:focus,
		textarea.materialize-textarea
		{
			border-bottom: 1px solid #FFB300 !important;
			box-shadow: 0 1px 0 0 #FFB300 !important;
		}

		.input-field label:not(.label-icon).active{
			color: #FFB300;
		}

	.study-space input[type=text]:focus, 
	.study-space input[type=password]:focus,
	.study-space input[type=email]:focus,
	.study-space input[type=url]:focus,
	.study-space input[type=time]:focus,
	.study-space input[type=date]:focus,
	.study-space input[type=datetime]:focus,
	.study-space input[type=datetime-local]:focus,
	.study-space input[type=tel]:focus,
	.study-space input[type=number]:focus,
	.study-space input[type=search]:focus,
	.study-space textarea.materialize-textarea
		{
			border-bottom: 1px solid #AB47BC !important;
			box-shadow: 0 1px 0 0 #AB47BC !important;
		}
	.study-space .input-field label:not(.label-icon).active{
			color: #AB47BC;
	}

		.cursor-p{
			cursor:pointer;
		}
		.iw_inner{
			padding: 20px;
		}
		.iw_inner p{
			margin: 0px;
			font-size: 12px;
		}
		.iw_inner .item_category{
			font-size: 10px;
			color: #999999;
			margin-left: 10px;
		}
		.iw_inner hr{
			border: 1px solid black;
		}

		.StudyIndexMap .iw_inner, 
		.StudySchedule .iw_inner,
		.modiStudy .modi_iw_inner{
			padding: 10px;
		}
		.StudyIndexMap .iw_inner h5,
		.StudySchedule .iw_inner h5,
		.modiStudy .modi_iw_inner h5{
			font-size: 14px;
			font-weight: bold;
			margin: 0px;
		}

		.show-map .modi_iw_inner{
			padding: 10px;
		}
		.show-map .modi_iw_inner h6{
			font-weight: bold;
		}
		
		.margin-b0{
			margin-bottom: 0px;
		}
		.menu-list li{
			display: inline !important;
		}
		.text-center{
			text-align: center;
		}
		

		#loader {
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 1;
			width: 150px;
			height: 150px;
			margin: -75px 0 0 -75px;
			border: 16px solid #f3f3f3;
			border-radius: 50%;
			border-top: 16px solid #FFB300;
			width: 120px;
			height: 120px;
			-webkit-animation: spin 2s linear infinite;
			animation: spin 2s linear infinite;
		}

		#studyLoader {
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 1;
			width: 150px;
			height: 150px;
			margin: -75px 0 0 -75px;
			border: 16px solid #f3f3f3;
			border-radius: 50%;
			border-top: 16px solid #AB47BC;
			width: 120px;
			height: 120px;
			-webkit-animation: spin 2s linear infinite;
			animation: spin 2s linear infinite;
		}

		@-webkit-keyframes spin {
			0% { -webkit-transform: rotate(0deg); }
			100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}


.show{
opacity: 1 !important;
}
.step{
opacity: 0;
transition: .5s ease-in-out all;
}
