.border_0{
    border-radius: 0px;
}
.right-menu{
    padding: 0px 20px;
}
.navbar{
    margin-bottom: 0px;
    width: 100%;
    position: absolute;
}
.back{
    float: right;
}
.routeWrapper{
    padding-top: 52px;
    height: 100%;
    width: 100%;
}