<nav class="nav-extended study-bgcolor">
	<div class="nav-wrapper">
		<a routerLink="/userpage" class="link-mypage">
			<img class="logo_wh" src="public/icon/logo_wh.svg" alt="">
			<span>< 이전 페이지로</span>
		</a>
		<a href="" class="brand-logo center study-title">{{studyPage.title}}</a>
		<a href="" data-activates="list-slide" class="button-collapse"><i class="material-icons side-toggler">menu</i></a>
		<ul class="side-nav" id="list-slide">
			<li>
				<div class="side-userWrapper grey darken-2">
					<div class="side-userInfo row">
						<div class="side-userPic col s4">

						</div>
						<div class="side-user col s8">
							Lv.1 디자이너 <br>
							홍길동
						</div>
					</div>
					<div class="side-btnBox">
						<a href="">Logout</a>
					</div>
				</div>
			</li>
			<li>
				<a href=""><i class="material-icons">send</i> 게시판</a>
				<dl>
					<dd><a routerLink="notice">Notice</a></dd>
					<dd><a routerLink="freetalk">Freetalk</a></dd>
				</dl>
			</li>
			<li>
				<a routerLink="text"><i class="material-icons">group</i> 운영</a>
				<dl>
					<dd>
						<a routerLink="schedule">Schedule</a>
						<a routerLink="account">Account</a>
						<a routerLink="admin">Members</a>
					</dd>
				</dl>
			</li>
			<li>
				<a routerLink="text"><i class="material-icons">group</i> 자료실</a>
				<dl>
					<dd>
						<a routerLink="flow">Flow</a>
						<a routerLink="data">Data</a>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
	<div class="nav-content">
		<ul class="tabs tabs-transparent menu-list" [ngClass]="{'study-manage':studyPage.title == '운영', 'study-board':studyPage.title == '게시판', 'study-storage':studyPage.title == '자료실'}">
			<li class="tab" *ngFor="let list of studyPage.tabList">
				<a [ngClass]="{'active':studyPage.url == list.link}" routerLink="{{list.link}}">{{list.name}}</a>
			</li>
		</ul>
	</div>
</nav>
<div class="routeWrapper">
		<router-outlet></router-outlet>
</div>
