.border_0{
    border-radius: 0px;
}
.right-menu{
    padding: 0px 20px;
}
.navbar{
    margin-bottom: 0px;
    width: 100%;
    position: absolute;
}
.back{
    float: right;
}
.routeWrapper{
    padding-top: 52px;
    width: 100%;
}
.study-bgcolor{
	background-color: #AB47BC;
}
/*side nav*/
nav .button-collapse{
	float: right;
}
nav a.button-collapse {
	display: block;
}
/* tab list */
.menu-list{
	margin: 0px auto;
}
.menu-list.study-manage{
	width: 440px;
}
.menu-list.study-board{
	width: 240px;
}
.menu-list.study-storage{
	width: 240px;
}