.border_0{
		border-radius: 0px;
}
.right-menu{
		padding: 0px 20px;
}
.navbar{
		margin-bottom: 0px;
		width: 100%;
		position: absolute;
}
/* link-mypage */

.logo_wh{
	width: 30px;
	height: 33px;
	position: relative;
	top: 3px;
	left: 10px;
}
.link-mypage span{
	margin-left: 20px;
	position: relative;
	top: -6px;
}
.study-title{
	font-size: 20px;
}
.back{
		float: right;
}
.routeWrapper{
		padding-top: 25px;
		width: 100%;
}
.study-bgcolor{
	background-color: #AB47BC;
}
/*side nav*/
nav .joinBtn{
	float: right;
	color: #AB47BC;
	font-weight: bold;
	/*border: 1px solid #FFFFFF;*/
	border-radius: 5px;
	background: #FFFFFF;
	position: relative;
	top: 13px;
	right: 20px;
}
nav .button-collapse{
	float: right;
}
nav a.button-collapse {
	display: block;
}

/*side nav*/
.side-nav{
	top: 64px;
}
.side-nav .side-userWrapper{
	height: 144px;
	padding: 20px 30px;
}
.side-nav .side-userPic{
	background-color: #000;
	height: 70px;
}
.side-nav .side-userInfo{
	margin-bottom: 5px;
	height: 70px;
}
.side-nav .side-user{
	line-height: 25px;
}
.side-nav .side-btnBox{
	text-align: right;
	height: 20px;
	font-size: 13px;
}
.side-nav .side-btnBox a{
	line-height: 17px;
	display: inline;
	color: #999;
}
.side-nav .side-btnBox a:hover{
	background: none;
}
.side-nav dl {
	margin: 0px;
}
.side-nav dl dd a{
	color: #666;
	line-height: 40px;
	padding-left: 100px;
	height: 40px;
}


/* tab list */
.menu-list{
	margin: 0px auto;
}
.menu-list.study-manage{
	width: 345px;
}
.menu-list.study-board{
	width: 225px;
}
.menu-list.study-storage{
	width: 170px;
}
.tab a.active{
	border-bottom: 1px solid #FFF;
}
/* display none*/
.dis_none{
	display: none !important;
}

/* modal */
.modal{
	width: 500px;
}
.modal-content{
	padding: 0px;
}
.modal-header{
	background-color: #AB47BC;
	padding: 15px;
	font-size: 20px;
	text-align: center;
	color: #FFFFFF;
}
.modal-body{
	padding: 20px;
}
.modal-body .study-name{
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.modal-body .leader{
	font-size: 12px;
	color: #999;
	margin-bottom: 30px;
}
.modal-body .study-info{
	font-size: 14px;
}
.modal-footer{
	padding: 0px 20px;
	margin-bottom: 20px;
	text-align: center;
}
.modal-footer .btn-flat{
	background-color: #AB47BC;
	color: #FFFFFF;
	border-radius: 5px;
	font-size: 18px;
	width: 100%;
	height: 50px;
	float: none;
	
}