<nav class="nav-extended study-bgcolor">
	<div class="nav-wrapper">
		<a routerLink="/userpage" class="link-mypage">
			<img class="logo_wh" src="public/icon/logo_wh.svg" alt="">
			<span>< 이전 페이지로</span>
		</a>
		<a href="" class="brand-logo center study-title">{{studyPage.title}}</a>
		<a class="btn-flat joinBtn" (click)="modalOpen()" [ngClass]="{'dis_none':member_chk}">가입하기</a>
		<a href="" data-activates="list-slide" class="button-collapse" [ngClass]="{'dis_none':!member_chk}">
			<i class="material-icons side-toggler">menu</i>
		</a>
		<ul class="side-nav" id="list-slide">
			<li>
				<div class="side-userWrapper grey darken-2">
					<div class="side-userInfo row">
						<div class="side-userPic col s4 circle">

						</div>
						<div class="side-user col s8">
							Lv.1 디자이너 <br>
							홍길동
						</div>
					</div>
					<div class="side-btnBox">
						<a href="">Logout</a>
					</div>
				</div>
			</li>
			<li>
				<a routerLink="index"><i class="material-icons">first_page</i> 첫 페이지로</a>
			</li>
			<li>
				<a routerLink="notice"><i class="material-icons">list</i> 게시판</a>
				<dl>
					<dd><a routerLink="notice">Notice</a></dd>
					<dd><a routerLink="freetalk">Freetalk</a></dd>
				</dl>
			</li>
			<li>
				<a routerLink="schedule"><i class="material-icons">library_add</i> 운영</a>
				<dl>
					<dd>
						<a routerLink="schedule">Schedule</a>
						<a routerLink="account">Account</a>
						<a routerLink="admin">Members</a>
					</dd>
				</dl>
			</li>
			<li>
				<a routerLink="flow"><i class="material-icons">folder</i> 자료실</a>
				<dl>
					<dd>
						<a routerLink="flow">Flow</a>
						<a routerLink="data">Data</a>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
	<div class="nav-content" [ngClass]="{'dis_none':studyPage.need}">
		<ul class="tabs tabs-transparent menu-list" [ngClass]="{'study-manage':studyPage.title == '운영', 'study-board':studyPage.title == '게시판', 'study-storage':studyPage.title == '자료실'}">
			<li class="tab" *ngFor="let list of studyPage.tabList">
				<a [ngClass]="{'active':studyPage.url == list.link}" routerLink="{{list.link}}">{{list.name}}</a>
			</li>
		</ul>
	</div>
</nav>
<div class="routeWrapper study-space">
		<router-outlet></router-outlet>
</div>
<!--[ngClass]="{'dis_none':member_chk}"-->
<div class="modal" id="join">
	<div class="modal-content">
		<div class="modal-header">
			가입하기
		</div>
		<div class="modal-body">
			<p class="study-name">{{studyDetail.studyname}}</p>
			<p class="leader">스터디장 : {{studyDetail.id}} ({{studyDetail.email}})</p>

			<p class="study-info">{{studyDetail.info}}</p>
		</div>
		<div class="modal-footer">
			<button class="btn-flat" (click)="joinReq()">
				가입하기
			</button>
		</div>
	</div>
</div>
