.container{
	width: 800px;
}
.default-folder{
	color: black;
}
.data-list{
	overflow: hidden;
}
.data-folder{
	background-image:url('public/icon/folder.svg');
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	float: left;
	word-break: break-all;
	width: 100px;
	height: 80px;
	margin: 10px;
	padding: 20px;
}
.data-folder:hover{
	background-image:url('public/icon/folder_hover.svg');
	word-break:break-all;
	color: #FFF;
}
.data-add-folder{
	background-image:url('public/icon/folder_add.svg');
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	float: left;
	width: 100px;
	height: 80px;
	margin: 10px;
	padding: 20px;
}

.folder-wrap{
	overflow: hidden;
}
.folder-wrap .input-field{
	width: 300px;
	margin-right: 10px;
	display: inline-block;
}
.folder-wrap input{
	height: 36px;
	margin: 0px;
}
.folder-wrap button{
	border: 1px solid #AB47BC;
	border-radius: 5px;
	color: #AB47BC;
}