<div class="container">

<div class="listWrap">
	<div class="row adminList">
		<div class="col s4" *ngFor="let study of studyList">
			<div class="card horizontal">
				<div class="card-image">
					<i class="material-icons">check_circle</i>
				</div>
				<div class="card-stacked">
					<div class="card-content study-info">
						<p>관리중인 스터디</p>
						<h5>{{study.studyname}}</h5>
						<div class="next-info">
							<p class="next-header">다음 모임일정</p>
							<span class="next-place">강남 스터디 윙</span><span class="next-time">7:30 PM</span>
						</div>
					</div>
					<div class="card-action">
						<div class="row">
							<div class="col s6"><span class="modiActive" (click)="open_modi_modal()">관리하기</span></div>
							<div class="col s6"><a routerLink="/study">바로가기</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s4">
			<div class="card study-add" (click)="open_new_modal()">
				<div class="card-stacked">
					<div class="card-content">
						<i class="material-icons">add_circle</i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row joinList">
		<div class="col s4" *ngFor="let study of studyList">
			<div class="card horizontal">
				<div class="card-image">
					<i class="material-icons">check_circle</i>
				</div>
				<div class="card-stacked">
					<div class="card-content study-info">
						<p>관리중인 스터디</p>
						<h5>{{study.studyname}}</h5>
						<div class="next-info">
							<p class="next-header">다음 모임일정</p>
							<span class="next-place">강남 스터디 윙</span><span class="next-time">7:30 PM</span>
						</div>
					</div>
					<div class="card-action">
						<div class="row">
							<div class="col s6"><a href="">관리하기</a></div>
							<div class="col s6"><a routerLink="/study">바로가기</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s4">
			<div class="card study-search" (click)="move_search()">
				<div class="card-stacked">
					<div class="card-content">
						<i class="material-icons">search</i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>

<div class="modal newStudy" id="newStudy" style="height: 800px !important;">
	<div class="modal-content">
		<div class="modal-header">
			새로만들기
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="left-panel col s5">
					<ul>
						<li class="place-header">
							<i class="material-icons">pin_drop</i>
							<p>장소 리스트</p>
							<i class="material-icons mode_edit">location_disabled</i>
						</li>
						<li class="place-list">
							<i class="material-icons">flag</i>
							<p>강남 스터디 윙</p>
							<i class="material-icons delete">clear</i>
						</li>
						<li class="place-list">
							<i class="material-icons">flag</i>
							<p>신도림 카페베네</p>
							<i class="material-icons delete">clear</i>
						</li>
					</ul>
				</div>
				<div class="right-panel col s7">
					<ul>
						<li class="explain-title">
							<i class="material-icons">insert_drive_file</i>
							<p>간략설명</p>
						</li>
						<li>
							<textarea class="explain-area"></textarea>
						</li>
					</ul>
				</div>
			</div>
			<div class="row search-map">
				<div class="col s8">
					<i class="material-icons">search</i>
					<input type="text" placeholder="Search people & places">
				</div>
				<div class="col s4">
					<div class="btn-box">
						<button class="btn-flat">검색</button>
						<button class="btn-flat">등록</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="show-map" id="map">

				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn-flat create" (click)="close_new_modal()">생성</button>
			<button type="button" class="btn-flat cancel" (click)="close_new_modal()">취소</button>
		</div>
	</div>
</div>

<div class="modal modiStudy" id="modiStudy">
	<div class="modal-content">
		<div class="modal-header">
			수정하기
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="left-panel col s5">
					<ul>
						<li class="place-header">
							<i class="material-icons">pin_drop</i>
							<p>장소 리스트(최대 5개)</p>
							<i class="material-icons mode_edit">location_disabled</i>
						</li>
						<li class="place-list">
							<i class="material-icons">flag</i>
							<p>강남 스터디 윙</p>
							<i class="material-icons delete">clear</i>
						</li>
						<li class="place-list">
							<i class="material-icons">flag</i>
							<p>신도림 카페베네</p>
							<i class="material-icons delete">clear</i>
						</li>
					</ul>
				</div>
				<div class="right-panel col s7">
					<ul>
						<li class="explain-title">
							<i class="material-icons">insert_drive_file</i>
							<p>간략설명</p>
						</li>
						<li>
							<textarea class="explain-area"></textarea>
						</li>
					</ul>
				</div>
			</div>
			<div class="row search-map">
				<div class="col s8">
					<i class="material-icons">search</i>
					<input type="text" placeholder="Search people & places">
				</div>
				<div class="col s4">
					<div class="btn-box">
						<button class="btn-flat">검색</button>
						<button class="btn-flat">등록</button>
					</div>
				</div>
			</div>
			<div class="row show-map" id="map">

			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn-flat create" (click)="close_modi_modal()">수정</button>
			<button type="button" class="btn-flat cancel" (click)="close_modi_modal()">취소</button>
		</div>
	</div>
</div>
