<div id="loader" *ngIf="!pageState"></div>
<div class="container" *ngIf="pageState">

<div class="listWrap">
	<div class="row adminList">
		<div class="col s4" [ngClass]="{'dis-none':studyList.length != 0}">
			<div class="card horizontal">
				<div class="card-image">
					<i class="material-icons">check_circle</i>
				</div>
				<div class="card-stacked">
					<div class="card-content study-info">
						<p>관리중인 스터디</p>
						<h5>생성한 스터디가 없습니다</h5>
						<div class="next-info">
							<p class="next-header">다음 모임일정</p>
							<span class="next-place">스터디를 만들어 보세요!!</span>
						</div>
					</div>
					<div class="card-action">
						<div class="row">
							<div class="col s12"><span>관리중인 스터디가 없습니다</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s4" *ngFor="let study of studyList">
			<div class="card horizontal">
				<div class="card-image">
					<i class="material-icons">check_circle</i>
				</div>
				<div class="card-stacked">
					<div class="card-content study-info">
						<p>관리중인 스터디</p>
						<h5>{{study.studyname}}</h5>
						<div class="next-info">
							<p class="next-header">다음 모임일정</p>
							<span class="next-place">{{study.place_name}}</span>
							<span class="next-time">{{study.start}}</span>
						</div>
					</div>
					<div class="card-action">
						<div class="row">
							<div class="col s6"><span class="modiActive" (click)="open_modi_modal(study.idx)">관리하기</span></div>
							<div class="col s6"><a class="go-study" (click)="move_study(study.idx)">바로가기</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s4">
			<div class="card study-add" (click)="open_new_modal()">
				<div class="card-stacked">
					<div class="card-content">
						<i class="material-icons">add_circle</i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row joinList">
		<div class="col s4" [ngClass]="{'dis-none':joinList.length != 0}">
			<div class="card horizontal">
				<div class="card-image">
					<i class="material-icons">check_circle</i>
				</div>
				<div class="card-stacked">
					<div class="card-content study-info">
						<p>가입한 스터디</p>
						<h5>가입한 스터디가 없습니다</h5>
						<div class="next-info">
							<p class="next-header">다음 모임일정</p>
							<span class="next-place">스터디를 찾아보세요!!</span>
						</div>
					</div>
					<div class="card-action">
						<div class="row">
							<div class="col s6"></div>
							<div class="col s12">
								<a routerLink="/userpage/stdSearch" class="go-study">스터디 찾아보기</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s4" *ngFor="let joinstudy of joinList">
			<div class="card horizontal">
				<div class="card-image">
					<i class="material-icons">check_circle</i>
				</div>
				<div class="card-stacked">
					<div class="card-content study-info">
						<p>가입한 스터디</p>
						<h5>{{joinstudy.studyname}}</h5>
						<div class="next-info">
							<p class="next-header">다음 모임일정</p>
							<span class="next-place">{{joinstudy.place_name}}</span>
							<span class="next-time">{{joinstudy.start}}</span>
						</div>
					</div>
					<div class="card-action">
						<div class="row">
							<div class="col s6"></div>
							<div class="col s6"><a class="go-study" (click)="move_study(joinstudy.idx)">바로가기</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s4">
			<div class="card study-search" (click)="move_search()">
				<div class="card-stacked">
					<div class="card-content">
						<i class="material-icons">search</i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>

<div class="modal newStudy" id="newStudy">
	<div class="modal-content">
		<div class="modal-header">
			새로만들기
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="left-panel col s5">
					<ul>
						<li>
							<div class="input-field">
								<input type="text" 
								name="study_name" 
								[(ngModel)]="newStudy.studyname" 
								placeholder="스터디명(3~20자 이내)">
							</div>
						</li>
						<li class="place-header">
							<i class="material-icons">pin_drop</i>
							<p>장소 리스트(최대 3개)</p>
							<i class="material-icons mode_edit">location_disabled</i>
						</li>
						<li class="place-list" *ngFor="let place of placeList; let i = index">
							<i class="material-icons">flag</i>
							<!--<p (click)="showPlaceInfo(place)">{{place.name}}</p>-->
							<p>{{place.name}}</p>
							<i class="material-icons delete" (click)="place_remove(place, i)">clear</i>
						</li>
						<li class="place-list" [ngClass]="{'deactive':placeList.length >= 3}">
							<i class="material-icons">add</i>
							<p class="add-place" (click)="toggleSearcher()">장소 추가하기</p>
						</li>
						<li class="place-list place-add" [@placeToggle]="placeState">
							<i class="material-icons">mode_edit</i>
							<input type="text" placeholder="장소명" [(ngModel)]="placeOne.name">
						</li>
					</ul>
				</div>
				<div class="right-panel col s7">
					<ul>
						<li class="explain-title">
							<i class="material-icons">insert_drive_file</i>
							<p>간략설명</p>
						</li>
						<li>
							<textarea class="explain-area" [(ngModel)]="newStudy.info"></textarea>
						</li>
					</ul>
				</div>
			</div>
			<div class="row search-map over-hidden" [@placeToggle]="placeState">
				<div class="col s8">
					<i class="material-icons">search</i>
					<input type="text" placeholder="장소명 & 건물명 검색" [(ngModel)]="search_input">
				</div>
				<div class="col s4">
					<div class="btn-box">
						<button class="btn-flat" (click)="place_search(search_input, newMap)">검색</button>
						<button class="btn-flat" (click)="place_insert(placeOne)">장소등록</button>
					</div>
				</div>
			</div>
			<div class="row over-hidden" [@placeToggle]="placeState">
				<div class="show-map" id="map">

				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn-flat create" (click)="study_submit(newStudy, placeList, 'new')">생성</button>
		<button type="button" class="btn-flat cancel" (click)="close_modal('#newStudy')">취소</button>
	</div>
</div>

<div class="modal modiStudy" id="modiStudy">
	<div class="modal-content">
		<div class="modal-header">
			{{tempStudy.studyname}}
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="left-panel col s5">
					<ul>
						<li class="place-header">
							<i class="material-icons">pin_drop</i>
							<p>장소 리스트(최대 3개)</p>
							<i class="material-icons mode_edit">location_disabled</i>
						</li>
						<li class="place-list" *ngFor="let place of placeList; let i = index">
							<i class="material-icons">flag</i>
							<p (click)="showModiPlaceInfo(place)">{{place.name}}</p>
							<!--<p>{{place.name}}</p>-->
							<i class="material-icons delete" (click)="place_remove(place, i)">clear</i>
						</li>
						<li class="place-list" *ngIf="placeList.length < 3">
							<i class="material-icons">add</i>
							<p class="add-place" (click)="toggleModiSearcher()">장소 추가하기</p>
						</li>
						<li class="place-list place-add" *ngIf="placeList.length < 3" [@placeModiToggle]="placeModiState">
							<i class="material-icons">mode_edit</i>
							<input type="text" placeholder="장소명" [(ngModel)]="placeOne.name">
						</li>
					</ul>
				</div>
				<div class="right-panel col s7">
					<ul>
						<li class="explain-title">
							<i class="material-icons">insert_drive_file</i>
							<p>간략설명</p>
						</li>
						<li>
							<textarea class="explain-area" [(ngModel)]="tempStudy.info"></textarea>
						</li>
					</ul>
				</div>
			</div>
			<div class="row search-map over-hidden" *ngIf="placeList.length < 3" [@placeModiToggle]="placeModiState">
				<div class="col s8">
					<i class="material-icons">search</i>
					<input type="text" placeholder="장소명 & 건물명 검색" [(ngModel)]="search_input">
				</div>
				<div class="col s4">
					<div class="btn-box">
						<button class="btn-flat" (click)="place_search(search_input, modiMap)">검색</button>
						<button class="btn-flat" (click)="place_insert(placeOne)">장소등록</button>
					</div>
				</div>
			</div>
			<div class="row over-hidden" [@placeToggle]="placeModiState">
				<div class="show-map" id="modiMap">
					<!-- 지도가 표시되는 부분 -->
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn-flat create" (click)="study_submit(tempStudy, placeList, 'modi')">수정</button>
			<button type="button" class="btn-flat cancel" (click)="close_modal('#modiStudy')">취소</button>
		</div>
	</div>
</div>
