.list-tree{
	padding: 20px;
}
.list-tree .tree-wrapper{
	border: 1px solid black;
	border-radius: 10px;
	height: 700px;
	width: 100%;
	padding: 20px;
	/*overflow-y: scroll;*/
}
.content-view{
	padding: 20px;
}
.content-view .text-output{
	border: 1px solid black;
	border-radius: 10px;
	height: 700px;
	width: 100%;
	padding: 20px;
}
.testback{
	overflow: hidden;
	border: 1px solid black;
}
