
<div class="container">
	<div class="row">
		<div class="col s3 list-tree">
			<div class="tree-wrapper forTextShareScroll">
				<div class="scrollbar-outer">
					<ul>
						<li><button class="btn" (click)="aniToggle()">toggle</button>
							<ul class="testback" [@aniState]="aniStateVal">
								<li>test</li>
								<li>test</li>
								<li>test</li>
							</ul>	
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="col s9 content-view">
			<div class="text-output forTextShareScroll">
				<div class="scrollbar-outer">
					<ul>
						<li *ngFor="let item of items" [@list-toggle]="item.state" (click)="toggle(item)">
							{{item.name}}
						</li>
					</ul>
				
				</div>
			</div>
		</div>
	</div>
</div>