.row{
	margin-bottom: 0px;
}
.btnBox{
	text-align: right;
	width: 39%;
	display: inline-block;
}
.ts-submit{
	background-color: #FFB300;
	height:40px;
	border-radius: 3px;
	color: white;
	padding: 0px 20px;
	margin-right: 10px;
}
.ts-help{
	float: right;	
	background-color: #FFB300;
	height:40px;
	padding: 0px 20px;
	border-radius: 3px;
	color: white;
}
.ts-submit::after{
	clear: both;
}
.insert-area{
	padding: 20px;
	padding-bottom: 0px;
}
.insert-area .area-wrapper{
	border-radius: 10px;
	background-color: #F1F1F1;
	height: 700px;
	width: 100%;
	padding: 20px;
}
.insert-area .ts-title{
	/*border: 1px solid black;*/
	/*border-radius: 5px;*/
}
.insert-area .area-wrapper textarea{
	width: 100%;
	height: 100%;
	padding: 10px;
	border: none;
}
.insert-area .area-wrapper textarea:focus{
  overflow-y: auto;
  outline:none;
}
.content-view{
	padding: 20px;
	padding-bottom: 0px;
}
.content-view .ts-folder{
	width: 60%;
	display: inline-block;
	margin-bottom: 20px;
	border-radius: 5px;
}
.content-view .text-output{
	border: 1px solid #FFB300;
	border-radius: 10px;
	height: 700px;
	width: 100%;
	padding: 20px;
}
.content-view .converter{
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

/* help box */
.help-box{
	position: fixed;
	width: 310px;
	height: 650px;
	right: 0px;
	top: 170px;
	padding: 0px;
	margin: 0px;
	margin-right: -310px;
	z-index: 9999;
}
.help-title{
	background-color: #FFD500;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 20px;
}
.help-content{
	padding: 10px;
	height: 600px;
	overflow-y: auto;
}
.help-content h6{
	font-weight: bold;
}
.help-content .label {
	margin: 10px 0px;
	font-weight: bold;
}
.help-content .code{
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #666666;
	margin-top: 10px;
}
.redstrong{
	color: red;
	font-size: 12px;
	font-weight: bold;
}