<div class="container">
	<div class="acc-wrap">
		<div class="row">
			<div class="left col s6">
				<div class="acc-listBox card-panel">
					<h6>
						<span>다음 모임 회비</span>
						<i class="material-icons">edit</i>
					</h6>
					<div class="acc-memList">
						<ul>
							<li class="acc-label">
								<i class="material-icons">insert_invitation</i>
								<span>DATE</span>
								<input type="text" value="2017-06-23" readonly>
							</li>
							<li class="acc-insert">
								<div class="input-field">
									<label for="">COST</label>
									<input type="text">
								</div>
								<button class="btn-flat clearfix">일괄적용</button>
							</li>
							<hr>
							<li class="acc-costList">
								<ul>
									<li class="costList-label">
										<i class="material-icons">group</i>
										<span class="mem-total">총 인원</span>
										<span class="mem-num">7 명</span>
									</li>
									<li>
										<div class="check-wrap">
											<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
											<label for="filled-in-box">홍길동</label>
										</div>
										<input type="text" value="0">
										<span>원</span>
									</li>
									<li>
										<div class="check-wrap">
											<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
											<label for="filled-in-box">홍길동</label>
										</div>
										<input type="text" value="0">
										<span>원</span>
									</li>
									<li>
										<div class="check-wrap">
											<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
											<label for="filled-in-box">홍길동</label>
										</div>
										<input type="text" value="0">
										<span>원</span>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right col s6">
				<div class="acc-totalBox card-panel">
					<h6>
						<span>회비 사용 내역(예상)</span>
					</h6>
					<div class="total">
						<ul class="total-list">
							<li>
								<div class="total-left">
									장소 대여비
								</div>
								<div class="total-right">
									15,000 원
								</div>
							</li>
							<li>
								<div class="total-left">
									음료
								</div>
								<div class="total-right">
									30,000 원
								</div>
							</li>
							<li>
								<div class="total-left">
									저녁 식사비
								</div>
								<div class="total-right">
									50,000 원
								</div>
							</li>
						</ul>
					</div>
					<div class="cal-res">
						<ul>
							<li>
								<div class="cal-left">총 회비</div>
								<div class="cal-right">100,000 원</div>
							</li>
							<li>
								<div class="cal-left">지출</div>
								<div class="cal-right">95,000 원</div>
							</li>
							<li class="cal-line">
								<hr>
							</li>
							<li>
								<div class="cal-left">남은 회비</div>
								<div class="cal-right">5,000 원</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="openerBox text-center">
			<span (click)="tableOpener()" *ngIf="tableState == 'close'">
				이전 스케쥴 보기<br><i class="material-icons">keyboard_arrow_down</i>
			</span>
			<span (click)="tableOpener()" *ngIf="tableState == 'open'">
				<i class="material-icons">keyboard_arrow_up</i><br>게시판 닫기
			</span>
		</div>
		<div class="row joiner-wrap" [@tableToggle]="tableState">
			<table class="bordered">
			<thead>
				<tr>
					<th>DATE</th>
					<th>참석자 수</th>
					<th>COST</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="text-center date">2017-06-22</td>
					<td>7 명</td>
					<td class="text-center">15000 원</td>
				</tr>
				<tr>
					<td class="text-center date">2017-06-22</td>
					<td>7 명</td>
					<td class="text-center">15000 원</td>
				</tr>
				<tr>
					<td class="text-center date">2017-06-22</td>
					<td>7 명</td>
					<td class="text-center">15000 원</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>