<div class="container">
    <div class="loginWrapper">
        <div class="indexTitle">
            <h3>Text Share</h3>
        </div>
        <hr>
        <form (submit)="login(user)">
            <div class="tailPic">
                <img src="public/img/Cat-typing.gif" alt="판사님 이건 저희집 고양이가 한것 입니다.">
            </div>
                <div class="form-group">
                    <label for="">ID</label>
                    <input type="text" name="id" [(ngModel)]="user.id" #userId="ngModel" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">PASS</label>
                    <input type="text" name="password" [(ngModel)]="user.password" #userPassword="ngModel" class="form-control" >
                </div>
            <hr>
            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#SignUp">Sign Up</button>
            <button class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="modal fade" id="SignUp">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>
                        회원가입
                    </h3>
                </div>
                <form [formGroup]="joinForm" (ngSubmit)="join(joiner)">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="">ID</label>
                            <input type="text" class="form-control" [(ngModel)] = "joiner.id" formControlName="joinId">
                        </div>
                        <div class="form-group">
                            <label for="">PASS</label>
                            <input type="text" class="form-control" [(ngModel)] = "joiner.password" formControlName="joinPass">
                        </div>
                        <div class="form-group">
                            <label for="">E-mail</label>
                            <input type="text" class="form-control" [(ngModel)] = "joiner.email" formControlName="joinEmail">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" *ngIf="joinForm.valid">가입</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
