<div class="container">
	<div class="loginWrapper">
		<form (submit)="login(user)">
			<div class="tailPic">
				<img src="public/img/Cat-typing.gif" class="circle" alt="판사님 이건 저희집 고양이가 한것 입니다.">
			</div>
			<div class="indexTitle">
				<h5>Hello Text Share</h5>
			</div>
			<div class="input-field">
				<label for="id">User name</label>
				<input type="text" name="id" [(ngModel)]="user.id" #userId="ngModel" class="form-control">
			</div>
			<div class="input-field">
				<label for="password">Password</label>
				<input type="password" name="password" [(ngModel)]="user.password" #userPassword="ngModel" class="form-control">
			</div>
			<button class="btn waves-effect waves-light orange darken-2 z-depth-0 loginBtn">Login</button>
			<div class="etc">
				<a class="orange-text text-darken-2">비밀번호 찾기</a>
				<div class="joinBox">TextShare &nbsp; <a [routerLink]="" class="orange-text text-darken-2" (click)="open_modal()">가입하기</a></div>
			</div>
		</form>
	</div>
</div>
<div class="modal" id="SignUp">
	<div class="modal-content">
		<div class="modal-header">
			<h5>
				회원가입
				<i class="material-icons delete" (click)="close_modal()">clear</i>
			</h5>
		</div>
			<div class="modal-body">
				<div class="input-field">
					<label for="">ID</label>
					<input type="text" [formControl]="control" class="form-control" [(ngModel)]="joiner.id">
				</div>
				<div class="input-field">
					<label for="">PASS</label>
					<input type="text" class="form-control" [(ngModel)]="joiner.password">
				</div>
				<div class="input-field">
					<label for="">E-mail</label>
					<input type="text" class="form-control lastInput" [(ngModel)]="joiner.email">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn-flat joinBtn" (click)="join(joiner)">가입하기</button>
			</div>
	</div>
</div>

 
