<div class="container">
	<div class="loginWrapper">
		<form 
		(submit)="login({
			isId : userId.valid,
			isPass : userPassword.valid
		})">
			<div class="tailPic">
				<img src="public/img/Cat-typing.gif" class="circle" alt="판사님 이건 저희집 고양이가 한것 입니다.">
			</div>
			<div class="indexTitle">
				<h5>Hello Text Share</h5>
			</div>
			<div class="input-field">
				<label for="id">User name</label>
				<input type="text" name="id" [(ngModel)]="user.id" #userId="ngModel" required minlength="3" maxlength="15">
			</div>
			<div class="input-field">
				<label for="password">Password</label>
				<input type="password" name="password" [(ngModel)]="user.password" #userPassword="ngModel" required minlength="4" maxlength="20">
			</div>
			<button class="btn waves-effect waves-light orange darken-2 z-depth-0 loginBtn">Login</button>
			<div class="etc">
				<a class="orange-text text-darken-2">비밀번호 찾기</a>
				<div class="joinBox">TextShare &nbsp; <a [routerLink]="" class="orange-text text-darken-2" (click)="open_modal()">가입하기</a></div>
			</div>
		</form>
	</div>
</div>
<div class="modal" id="SignUp">
	<div class="modal-content">
		<div class="modal-header">
			<h5>
				회원가입
				<i class="material-icons delete" (click)="close_modal()">clear</i>
			</h5>
		</div>
			<div class="modal-body">
				<div class="idBox">
					<div class="input-field id-field">
						<label for="">ID (3자 이상, 15자 이하)</label>
						<input type="text" [(ngModel)]="joiner.id" #jId="ngModel" minlength="3" maxlength="15" required>
					</div>
					<button class="btn-flat" (click)="user_chk()">중복확인</button>
				</div>
				<div class="input-field">
					<label for="">PASS (6자 이상, 20자 이하)</label>
					<input type="password" [(ngModel)]="joiner.password" #jPass="ngModel" minlength="6" maxlength="20" required>
				</div>
				<div class="input-field">
					<label for="">E-mail</label>
					<input type="text" class="lastInput" [(ngModel)]="joiner.email" #jEmail="ngModel" required pattern="^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn-flat joinBtn" 
				(click)="join({isId : jId.valid,
											isPass : jPass.valid,
											isEmail : jEmail.valid})">가입하기</button>
			</div>
	</div>
</div>

 
