<div class="container">
	<div class="history">
		History
	</div>
	
	<div class="row">
		<div class="col s3">
			<div class="list-wrap">
				<ul>
					<li>
						<div class="card-panel add-flow" (click)="detailClose()">
							<i class="material-icons">add_circle</i>
						</div>
					</li>

					<li *ngFor="let item of flowList">
						<div class="list-line"></div>
						<div class="card-panel" (click)="detailInfo(item.idx)">
							<div class="simple-label">
								<span>{{item.speak_date|date:"yyyy-MM-dd"}}</span>
								<span class="simple-speaker">{{item.speaker}}</span>
							</div>
							<div class="simple-title">
								{{item.title}}
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col s9">
			<div class="detail-wrap" [ngClass]="{'disnone':detailState=='close'}">
				<div class="card-panel detail-card">
					<h6>
						<span>{{getFlow.speak_date|date:"yyyy-MM-dd"}}</span>
						<span class="speaker">{{getFlow.speaker}}</span>
					</h6>
					<div class="detail-info">
						<ul>
							<li class="icon-box">
								<i class="material-icons" [ngClass]="{'disnone':iconState=='close'}" (click)="editFlow(getFlow.idx)">edit</i>
								<i class="material-icons" [ngClass]="{'disnone':iconState=='close'}" (click)="deleteFlow(getFlow.idx)">clear</i>
							</li>
							<li class="title">
								{{getFlow.title}}
							</li>
							<li class="content">
								{{getFlow.content}}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="new-wrap" [ngClass]="{'disnone':detailState=='open'}">
				<div class="date">
					<i class="material-icons">event</i>
					<div class="input-field">
						<input type="date" class="datepicker" placeholder="발표일">
					</div>
				</div>
				<div class="user-select">
					<i class="material-icons">person</i>
					<select class="browser-default" [(ngModel)]="newFlow.speaker">
						<option *ngFor="let user of userList" value="{{user.id}}">{{user.id}}</option>
					</select>
				</div>
				<div class="new-flow-title">
					<i class="material-icons">description</i>
					<div class="input-field">
						<input type="text" [(ngModel)]="newFlow.title" placeholder="주제">
					</div>
				</div>
				<div class="new-flow-content">
					<label for="">간단내용</label>
					<textarea [(ngModel)]="newFlow.content"></textarea>
				</div>
				<!--<div class="fileBox">
					<div class="folder-select">
						<select class="browser-default">
							<option value="" disabled selected>자료를 넣을 폴더</option>
							<option *ngFor="let folder of folderList" value="{{folder.idx}}">{{folder.folder_name}}</option>
						</select>
					</div>
					<div class="file-input-wrap">
						<div class="file-field input-field">
							<div>
								<input type="file" multiple (change)="fileChange($event)">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Upload one or more files">
							</div>
						</div>
						<button class="btn-flat submit" (click)="fileSubmit()">파일등록</button>
					</div>
				</div>-->
				<div class="flow-btn-box">
					<button class="btn-flat del" (click)="flowCancel()">취소</button>
					<button class="btn-flat submit" (click)="flowSubmit(newFlow)">등록</button>
				</div>
			</div>
		</div>
	</div>
</div>