<div class="container">
    <div class="basicInfo">
        <div>
            <label for="id">User name</label>
            <input type="text" name="id" readonly [(ngModel)]="userInfo.id">
        </div>
        <div>
            <label for="phone">Mobile</label>
            <input type="text" name="phone" readonly [(ngModel)]="userInfo.phone">
        </div>
        <div>
            <label for="c_date">Create date</label>
            <input type="text" name="c_date" readonly [ngModel]="userInfo.c_date|date:'y-MM-dd'">
        </div>
    </div>
</div>