<div class="personalInfo">
    <h1>개인정보</h1>
    <div class="myInfoWrap">
        <div class="myInfoLeft">
            <div class="shortInfo">
                <img src="" alt="">
                <div class="shorts">
                    <h3>
                        Name
                    </h3>
                    <p>test</p>
                    <h3>
                        Email
                    </h3>
                    <p>test</p>
                    <h3>
                        Join Date
                    </h3>
                    <p>test</p>
                </div>
            </div>
        </div>
        <div class="myInfoRight">
            <div class="detailInfo">
                <h3>
                    Phone
                </h3>
                <div class="details"></div>
                <h3>
                    Address
                </h3>
                <div class="details"></div>
                <h3>
                    Introduction
                </h3>
                <div class="details"></div>
            </div>
        </div>
    </div>
</div>
