<div class="container">
	<div class="basicInfo">
		<div class="input-field">
			<label class="active" for="id">User name</label>
			<input disabled type="text" name="id" [(ngModel)]="userInfo.id">
		</div>
		<div class="input-field">
			<label class="active" for="phone">Mobile</label>
			<input disabled type="text" name="phone" [(ngModel)]="userInfo.phone">
		</div>
		<div class="input-field">
			<label class="active" for="c_date">Create date</label>
			<input disabled type="text" name="c_date" [ngModel]="userInfo.c_date|date:'y-MM-dd'">
		</div>
	</div>
</div>