<div class="container">
	<table class="bordered">
		<thead>
			<tr>
				<th>DATE</th>
				<th>TITLE</th>
				<th>작성자</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let notice of nList">
				<td class="text-center date">{{notice.c_date|date:"yyyy-MM-dd"}}</td>
				<td class="cursor" (click)="move_read(notice.idx)">{{notice.title}}</td>
				<td class="text-center">{{notice.id}}</td>
			</tr>
			<tr *ngIf="no_notice">
				<td class="no_notice" colspan="3">
					아직 등록된 글이 없습니다.
				</td>
			</tr>
		</tbody>
	</table>
	<div class="btnBox">
		<a routerLink="../noticeNew" class="btn-flat">새 글 작성</a>
	</div>
	<div class="paging-wrap">
		<ul class="pagination">
			<li class="waves-effect" (click)="subNum()">
				<a>
					<i class="material-icons">chevron_left</i>
				</a>
			</li>
			<li [ngClass]="{'active':i==curNum}" (click)="move_page(i)" *ngFor="let i of listNum">
				<a>{{i}}</a>
			</li>
			<li class="waves-effect" (click)="addNum()">
				<a>
					<i class="material-icons">chevron_right</i>
				</a>
			</li>
		</ul>
	</div>
</div>