<div class="container">
	<div class="read">
		<h6 class="writer">{{notice.c_date|date:"yyyy-MM-dd"}} 
			<span>{{notice.id}}</span>
		</h6>
		<h6 class="title">{{notice.title}}</h6>
		<hr>
		<div class="action-btn">
			<a routerLink="/study/noticeUpdate/{{notice.idx}}">
				<i class="material-icons">edit</i>
			</a>
			<i class="material-icons cursor-p" (click)="deleteNotice(notice.idx)">clear</i>
		</div>
		<div class="content">
			{{notice.content}}
		</div>
		<hr class="comment-divider">
	</div>
</div>